<!DOCTYPE html>

<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">


<body>
    <div class="header">
        <h1>Klous</h1>
    </div>

<h2>Suosikit</h2>
<ul>
    {% for board in favorites %}
    <li>
        <a href="/board/{{ board[0] }}">{{ board[1] }}</a>
    </li>
    {% endfor %}
</ul>


    <h2>Keskustelualueet</h2>
    <ul>
        {% for zone in zones %}
        <li>
            <a href="/zone/{{ zone[0] }}">{{ zone[1] }}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="login">
    {% if session.user_id %}
    <p>Olet kirjautunut sisään.</p>
    <a href="/zone/new">Luo uusi alue</a> 
    | 
    <a href="/zone/del">Poista alue</a> 
    | 
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login" class="login">Kirjaudu sisään</a>
    {% endif %}
</div>
